.copyright a, .footer a{
  color: white;
  
}

.copyright{
  
}

label.error, div.error { 
  float: none; 
  color: #b94a48; 
  padding-left: 5px; 
  padding-top: 5px;
  vertical-align: top;   
  font-size: 13px;
}

label.error{
  display:none;
}

input.error, textarea.error{ 
  border: 1px solid #b94a48; 
  color: #b94a48; 
}

.nav-tabs>li>a.error{
  color: #b94a48;
}

.sortable{
  margin: 0px;
  padding: 10px 0px;
}

.sortable li{
  list-style:none;
  margin: 5px 0;
  cursor: move;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #ccc;
  background: #fafafa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

.ajax-loading{
  width: 45px;
  height: 45px;
  background: url(../images/ajax-loading.gif);
  margin:auto;
}

.ajax-loading-small{
  width: 16px;
  height: 16px;
  background: url(../images/loading.gif);
  margin:auto;
  position: absolute;
}

.modal-scrollable {
  overflow: auto !important;
}

.close{
  background-image: url("../template/img/remove-icon.png") !important;
  width: 14px;
  height: 14px;
}

.modal-collapse{
  background-image: url("../template/img/collapse-icon.png") !important;
  width: 14px;
  height: 14px;
  margin-right: 15px;
}

.modal-backdrop.modal-collapsed{	
	height: 60px;
}

.modal-collapsed .modal-body,
.modal-collapsed .modal-footer
{
	display:none;
}

.modal-scrollable.modal-collapsed{
	height: 60px;
}

.primary-modal-action-loading{
  visibility: hidden;
  font-size: 16px;
}

.modal-footer-left{
    float: left;
    display: inline-block;
    padding-top: 6px;
}

.bg-color-value{
  padding: 2px 5px;  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.dropdown-menu li a{
  padding-right: 15px;
}

.navbar-inverse .navbar-brand {
  color: white;
  padding-left: 15px;
}

.logo {
  color: white;
  font-size: 18px;
}

.entity_items_listing{
  min-height: 70px;
}

.entity_items_listing td.fieldtype_textarea,
.entity_items_listing td.fieldtype_textarea_encrypted{
  white-space: normal !important;
  min-width: 280px;
}

#items_comments_listing{
  min-height: 70px;
}


.data_listing_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 45px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;    
  background: url(../images/ajax-loading.gif) center no-repeat;
  
}


.listing_order{
  cursor: pointer;
}

.listing_order_asc{
  background: url(../images/listing_order.png) bottom repeat-x;
}

.listing_order_desc{
  background: url(../images/listing_order.png) bottom repeat-x;
}

.listing_order_asc div:not(.resizer){
  background: url(../images/asc.gif) no-repeat right;
  padding-right:10px;
}

.listing_order_desc div:not(.resizer){
  background: url(../images/desc.gif) no-repeat right;
  padding-right:10px;
}

.item_heading_td{
  width: 100%;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

.entitly-listing-buttons-right{
  margin-top: 5px;    
}

.entitly-listing-buttons-left{
  text-align: left;
}

.entitly-listing-buttons-right button, .entitly-listing-buttons-right form{
  
}

.entitly-listing-buttons-left button{
  margin: 5px 5px 5px 0;
}

.reset_search{
  text-decoration:underline;
  padding-left: 10px;
  cursor: pointer;
}

.search-notes{
  margin-top: 10px;
}

.navbar-items .navbar-brand{
  font-size: 13px;
}

.page-content .page-breadcrumb.breadcrumb{
  margin-top: -10px;
}

.panel-body-actions{
  border-bottom: 1px solid #ddd;
  margin: -15px -15px 15px -15px;
  padding: 10px 15px 0px 15px;;
}

.prolet-body-actions{
  border-bottom: 1px solid #ddd;
  margin: -10px -10px 10px -10px;
  padding: 10px 15px 0px 15px;;
}

.dashboard-reports-container{
  padding-bottom: 15px;  
}

.dashboard-reports-container .page-title{
  
}

.attachments-form-list label{
  padding-top: 0px !important;
}

.attachments-form-list td{
  padding: 5px 15px 0 8px !important;
}

.page-sidebar-menu .title{  
  padding-right: 10px; 
  width: 165px;
  display: inline-block;     
}

.page-sidebar-menu > li > ul.sub-menu > li > a .title{
	width: 180px;
}

.page-sidebar-menu > li > ul.sub-menu > li > a .title.submenu-level-1.width-icon{
	width: 160px;
}

.page-sidebar-menu .title.submenu-level-2.width-icon{
	width: 155px;
}

.page-sidebar-menu .title.level-3
{
	width: 162px;	
}

.page-sidebar-menu .title.title-with-badge{
  width: 150px;
}

.page-sidebar-menu li > a > .badge{
  margin-right: 0;
}

@media (max-width: 991px){
  .page-sidebar-menu .title{
    width: auto;
    min-width: 270px;
    max-width: 360px;
  }
}


.page-sidebar-menu li {
 overflow:hidden;
}

.page-sidebar-menu > li > a i {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.page-sidebar-closed .page-sidebar-menu li {
  overflow:visible;
}


.page-sidebar ul > li > a > .arrow:before{
  width: 1px;
}

.page-sidebar-closed .page-sidebar-menu > li:hover {
  width: 296px !important;;
}

.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu { 
  width: 260px;
}

.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 260px;
}

.user-photo-header{
  height: 29px;
  max-width: 150px;
}

.user-photo-content{
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 5px;
}

.user-photo-box{
  text-align: center;
  float: left;
  width: 50px;
  margin-right: 5px;
}

.user-name{
  margin-bottom: 5px;  
}

.header .navbar-nav li.dropdown.user img{
  border-radius: 0;
}

.item-details td{
  white-space:normal !important;
}

div.skins-list { width: 550px;overflow: hidden;}
div.skins-list ul {list-style: none;padding: 0;float: left;}
div.skins-list ul li {float: left;text-align: center;padding-top: 10px; }

.logo{
  float: left;
  width: 170px;
  text-align: left;
  padding: 0px 0px 10px 25px;
}

.logo img{
  max-width: 170px;
}

.login-page-logo{
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px #000000;
}
.login-page-logo img{
  max-width: 170px;
}

.page-sidebar-closed .logo{
  display: none;
}

.btn-filters{
  text-align: left;
}

.btn-filters button{
  margin-right: 0px;
}

.btn-filters  .filters-values-content{
  font-size: 12px;
}

.table.thead-transform thead{
	background: #dadada;	
}

.table.thead-transform thead th:not(:last-child){
	background: url(../images/pixel_white.gif) right repeat-y;
}

.table.thead-transform thead th.listing_order_asc, .table.thead-transform thead th.listing_order_desc{
    background: white url(../images/listing_order.png) bottom repeat-x;
}

.table.thead-transform .checker{
	position: static;
}

.table.thead-transform .multiple-select-action-th .checker{
	visibility:hidden;
}
 
.table tfoot td{
  font-weight: bold;
} 

.header.navbar-fixed-top {
  z-index: 7995 !important;
}

#worksheet_preview_container{
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid lightGray;
  max-height: 500px;
  margin-bottom: 15px;
}

#worksheet_preview_container table td{
  border: 1px solid lightGray;
  padding: 2px;
  font-size: 12px;
  white-space:nowrap;  
}

.binded_field_container{
  font-weight: bold;  
}

textarea.form-control{
  min-height: 120px;
}

.last_comment_info{
  background: url(../images/comment_small.png) no-repeat;
  padding-left: 15px;
  cursor: pointer;
}

.popover{
  max-width: 350px;
  z-index: 10060;
}

.popover-content{
 overflow:hidden;
}

.loading_data {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 45px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;    
  background: url(../images/ajax-loading.gif) center no-repeat;  
}

.input-group-btn{
  vertical-align: top;
}


.dashboard-reports-config{
  float: right;
  margin-top: -20px;  
  margin-right: 49px;
  position: relative;
}

.dashboard-reports-config > .toggler {
  top: 5px;
  right: 2px;
  padding: 11px 12px 9px 12px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: #c9c9c9;
  border-radius: 4px 4px 4px 4px; 
}

.dashboard-reports-config > .toggler > i{
  font-size: 18px;
}

.dashboard-reports-config  > .toggler:hover {
  background-color: #c1c1c1 !important;
}

.theme-panel > .theme-options > .theme-option > span{
  width: 140px;
}

.page-sidebar-fixed .footer a{
  color: #2a6496;
}

.btn-clandar-filters{
  margin-bottom: 15px;
}

blockquote p {
  font-size: 13px;
  font-style: italic;
}



@media (min-width: 992px) { 


  .page-sidebar-closed .page-sidebar-menu > li > a > .badge {
    display: none !important;
  }
  
  .page-sidebar-closed .page-sidebar-menu > li:hover .badge {
    display: inline-block !important;
  }
  
  .page-sidebar-closed .page-sidebar-menu > li:hover .title {
    display: inline-block !important;
    width: 205px;
  }
  
  .page-sidebar-closed .page-sidebar-menu > li:hover .title.title-with-badge {
    display: inline-block !important;
    width: 220px;
  }
  
  /* reduced scale */
  .page-scale-reduced {
    font-size: 12px;
  }
  
  .page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a {
    font-size: 12px;    
  }
  
  .form-control-static .help-block{
    font-size: 12px;  
  }
  
  .page-scale-reduced .table thead tr th{
    font-size: 12px;  
  }
  
  .page-scale-reduced .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding: 5px;
  }
  
  .page-scale-reduced .page-sidebar-menu > li > a{
    font-size: 13px;
  }
  
  .page-scale-reduced .page-sidebar-menu > li > ul.sub-menu > li > a{
    font-size: 13px;
  } 
  
  .page-scale-reduced label{
    font-size: 13px;  
  }
  
  .page-scale-reduced .form-control-static{
  	font-size: 13px;
  }
  
  .page-scale-reduced .form-control{
    font-size: 13px;
    padding: 4px 12px;
  }
  
  .page-scale-reduced .btn{
    padding: 4px 12px;
  }
  
  .page-scale-reduced .btn.btn-subentity-form-remove {
    float: right;
    margin-top: -38px;
    padding: 3px 3px 0px 3px;
  }
  
  .page-scale-reduced .btn-sm{
    padding: 5px 10px;
  }
  
  .page-scale-reduced .btn.btn-submodal-open-chosen{
    padding: 6px 12px;
  }
  
  .page-scale-reduced .btn-xs{
    padding: 1px 5px;
  }
    
  .page-scale-reduced .form-control{
    height: 30px;
  }
  
  .page-scale-reduced .dropdown-menu{
    font-size: 13px;
  } 
  
  .page-scale-reduced .navbar-brand{
    padding: 10px 15px;
    height: 40px;
  }
  
  .page-scale-reduced .navbar-nav>li>a{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .page-scale-reduced .navbar{
    min-height: 40px;
  }

  .page-scale-reduced .page-title{
    font-size: 22px;
  }
  
  .page-scale-reduced .popover-title{
    font-size: 12px;
    padding: 4px 14px;
  }
  
  .page-scale-reduced .taskEditRow input{
    font-size: 13px;
  }
  
  .page-scale-reduced .panel-title{
    font-size: 14px;
  }
  
  .page-scale-reduced .portlet > .portlet-title > .caption{
    font-size: 14px;
  } 
  
  .page-scale-reduced .alert{
    padding: 8px;
  }
  
  .page-scale-reduced .input-icon i{
    margin-top:7px;
  }
      
  .dropdown-menu li a{
  	font-size: 13px;
  }
  
  .dropdown-menu li > a {
    padding: 4px 17px 4px 10px;
  }
  
  .page-scale-reduced .chosen-container-single .chosen-single{
  	height: 30px;
  	padding: 5px 17px;
  }
  
  .page-scale-reduced .chosen-container-multi .chosen-choices {
  	padding: 1px 12px;
  }
  
}

.related-records-info-box h4{
  
}

.related-records-info-box {
  margin-bottom: 15px; 
}

.related-records-info-box .action-button{
  
}

.related-records-info-box .related-records-name{
  padding-top: 8px;
}

.related-records-info-box .table{
  margin-bottom: 0px;
}

#search_item_by_id_result{
  text-align: center;
}

.login .content{
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

textarea.editor{
  min-height: 255px;
}

textarea.full-editor{
  min-height: 455px;
}

@media (max-width: 979px) {
  textarea.editor{
    min-height: 120px;
  }
} 

.calendar-created-by{
  font-style: italic;
}

.panel-title a{
  text-decoration: none;
}

.fieldtype-image-container{
  border: 1px solid #ddd;  
  padding: 1px; 
  overflow: hidden;
}

.fieldtype-image-container img{
  width: 100%;
}

.fieldtype-image-filename{
  padding: 5px;  
  overflow:hidden;
  white-space: nowrap;
}

.attachments-gallery{
  height: auto;    
}

.attachments-gallery ul{
  list-style:none;
  padding:0;
  margin: 0;    
}

.attachments-gallery ul li{
  width: 100px;
  height: 115px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  
}

.attachments-gallery ul li img{
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.attachments-gallery .gallery-image{
  border: 1px solid #ddd;
  width: 98px;
  height: 98px;
  padding: 1px;
  text-align: center;
}

.attachments-gallery .gallery-download-link{
  padding-top: 5px;
}

.input-error{
  border-color: red;
  color: red;
}

.popover-table-data td{
  padding-right: 5px;
}

.input-with-colorpicker{
  width: 212px;
}

.input-with-colorpicker .color  .input-small{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}  

.modal-open .tooltip{
  z-index: 10056 !important;		
}

.tooltip-inner {
  max-width: 450px;
  min-width: 390px;
  text-align: left;
  color: #fff;
  background-color: #31708f;
  border: 1px solid #31708f;
  white-space:normal;
}   

.tooltip.top .tooltip-arrow {
  border-top-color: #31708f;
}

.tooltip.top-left .tooltip-arrow {  
  border-top-color: #31708f;  
}

.tooltip.top-right .tooltip-arrow {  
  border-top-color: #31708f;  
}

.tooltip.right .tooltip-arrow {  
  border-right-color: #31708f;  
}

.tooltip.left .tooltip-arrow {  
  border-left-color: #31708f;  
}

.tooltip.bottom .tooltip-arrow {  
  border-bottom-color: #31708f;  
}

.tooltip.bottom-left .tooltip-arrow {  
  border-bottom-color: #31708f;  
}

.tooltip.bottom-right .tooltip-arrow {  
  border-bottom-color: #31708f;  
}

.modal-header, .modal-footer{
  cursor: pointer
}

.float-right{
  float:right;
} 

.comments-history td, .comments-history th{
  vertical-align: top;
} 

.tooltip-icon{
  color: #31708f;
}

.text-no{
  color: #999;
}

.hot-reports .dropdown-menu.extended{
  width: 420px !important;
  max-width: 420px !important;
}

.table-fixed-cell{
  background: white;      
  border-left: 0px !important;
  border-right: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
  border-bottom: 0px solid #ddd !important;
}

.table-fixed-cell-first-row{
  border-top: 0 !important;
}

.table-scrollable.table-wrapper{
  border: 0;
  margin: 0 !important;
  padding: 0;
}

.table-wrapper-css{
  width: auto;      
  overflow-x: auto;
  overflow-y: hidden;    
}


.prolet-body-actions {
    border-bottom: 1px solid #ddd;
    margin: -10px -10px 10px -10px;
    padding: 10px 15px 0px 15px;
}

.panel-timer{
  border-left: 4px solid #ddd;
  padding-left: 11px;
}

.panel-timer.timer-active{
  border-left: 4px solid #f0ad4e;
}

.panel-timer.timer-active #timer-container, .panel-timer.timer-active #timer-hours-container{
  font-weight: bold;
}

.panel-timer li{
  vertical-align: middle;
}

.panel-timer #timer-container{
  font-size: 16px;
  padding: 0 15px;
}

.panel-timer #timer-hours-container{
  font-size: 16px;
  padding: 0 15px 0 5px;
}

.panel-body-actions .list-inline li{
  padding-bottom: 2px;
}

.prolet-body-actions .list-inline li{
  padding-bottom: 2px;
}



.timer-report .dropdown-menu.extended{
  width: 420px !important;
  max-width: 420px !important;
}

.portlet > .portlet-title{
  background-color: #f5f5f5;  
  cursor: pointer;
}

.related_item_heading_td{
  width: 100%;
  white-space:normal !important;
  min-width: 150px;
}

.ckeditor-images-content{
  cursor: pointer;
  max-width: 450px;
  height: auto !important;
}

@media (max-width: 979px) {
  .ckeditor-images-content{
    max-width: 100% !important;
  }
}


.portlet.portlet-filters-preview{
  margin-bottom: 15px;
  margin-top: 0px;
}

.portlet.portlet-filters-preview > .portlet-title {

} 

.portlet.portlet-filters-preview .list-inline{
  margin-bottom: 0;
}

.portlet.portlet-filters-preview .list-inline>li{
  padding: 0;
}

.portlet-filters-preview .portlet-body .divider{
  border-top: 1px solid #ddd;
  margin: 5px 0px;
}

.portlet-filters-preview .btn{  
  padding: 3px 11px;
  font-size: 12px;   
}

.portlet-filters-preview .btn-default{  
  padding: 3px 5px;     
}

.filters-preview-box{
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  padding: 3px 5px;  
}

.filters-preview-box-heading{
  cursor: pointer;
}

.portlet-filters-preview .btn-users-filters{
  padding: 1px 7px;
}

.portlet.portlet-filters-preview > .portlet-title > .caption{
  margin-top: -2px;
} 

.portlet.portlet-filters-preview .badge{
  background: transparent;
  color: #222;
} 

.filters-preview-condition-exclude{
  text-decoration: line-through;
}

.portlet.portlet-filters-preview > .portlet-title > .actions > .btn-group > .btn .fa{
  font-size: 20px;
  margin-top: 2px;  
} 

.portlet.portlet-filters-preview > .portlet-title > .tools {
  padding: 0px 5px;
}

.required-label{
  color: #b94a48;
  padding-right: 5px;
}

.download-all-attachments a{
    font-size: 12px;
    margin-left: 15px;
}

.item-content-box .media-heading{
  margin-top: 10px;
}

.link-to-modalbox{
  cursor: pointer;
}

.select_checkboxes_tag label{
  margin-bottom: 0px;
}

.is-unique{
  display: inline-block;
}

.is-unique-checking-process{
  display: inline-block;
  margin-left: 10px;
}

.is-unique-checking-success{
  color: #3c763d;
  margin-left: 10px;
}

.align-right{
  text-align: right;
}

.ipage-description h1, .ipage-description h2, .ipage-description h3{
  padding: 0px;  
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0px 0px 15px 0px;
  font-weight: 300;
}

.ipage-description h1{
  font-size: 22px;
}

.ipage-description h2{
  font-size: 20px;
}

.ipage-description h3{
  font-size: 16px;
} 

.table .fieldtype_formula,
.table .fieldtype_js_formula,
.table .fieldtype_mysql_query,
.table .fieldtype_input_numeric,
.table .fieldtype_input_numeric_comments,
.table .numeric_fields_total_values,
.table .fieldtype_hours_difference,
.table .fieldtype_days_difference,
.table .fieldtype_years_difference,
.table .fieldtype_months_difference{
  text-align: right;
}

.portlet > .portlet-title > .tools > a.collapse{
  background-image: url(../template/img/portlet-expand-icon.png)	
}

.portlet > .portlet-title > .tools > a.expand{
  background-image: url(../template/img/portlet-collapse-icon.png)		
}

.table-scrollable > .table > tbody > tr > th.white-space-normal,
.table-scrollable > .table > tbody > tr > td.white-space-normal
{
  white-space:normal;			
}

.hot-reports .parent-name{
  color: #9A9A9A;	
}

.timer-report .parent-name{
  color: #9A9A9A;	
}

.chosen-container{
  display: block;
}

.filters-preview-box.is-active-0{
	opacity: 0.5;	
}

.filters-preview-box.is-active-0 b{
	text-decoration: line-through;	
}

.dropdown-menu-with-action a{
  padding-right: 40px !important;	
}
.dropdown-menu-with-action a.action{
	position: absolute;
	right: 0;
	padding-right: 10px !important;
}

.dropdown-menu-with-action.dropdown-menu{
	width: 350px;	
}

.dropdown-menu-with-action.dropdown-menu li > a{
	white-space: normal;
}

.dropdown-menu-with-action.dropdown-menu-width-auto{
	width: auto;	
}

.dropdown-menu-with-action.dropdown-menu-width-auto li > a{
	white-space: nowrap;
}

.portlet-filters-preview .btn-filters-templates{
	background-color: white;
	margin: -5px 3px -3px -0px;
	padding: 2px 3px 2px 0px;
	border-right: 1px solid #ddd;
	border-radius: 0;
}

.checkbox-list-singe {
	padding-top: 7px;
}

#quick-comment{
	padding: 10px 0;
	display: none;	
}

#quick-comment textarea.form-control{
	min-height: 82px;
	margin-bottom: 5px;
}

.comments-actions-buttons{
	float: right;
	border: 1px solid gray;
	vrtical-align: bottom;
}

.table .btn {
	margin-bottom: 3px;
}

.stats-overview-cont .stats-overview .display{
	float:none;
}

.stats-overview-cont .stats-overview{
	cursor: pointer
}

.stats-overview-cont .stats-overview:hover{
	background: #e9e9e9;
}

.fancybox-nav{
	width: 10%;
	height: 90%;
	margin: 25px;
}

blockquote {
    padding: 7px 10px;
    border-left: 4px solid #e0e0e0;
    font-style: italic;
    margin: 0 0 15px;
}   

#pivotuitable{
	overflow-x: auto;
}

div.timeline-event-content {
	margin: 2px 5px;
	font-weight:normal;
} 

div.timeline-navigation-delete{
	display:none;
}

div.timeline-navigation .ui-icon{
	display:none;
}

div.timeline-navigation.ui-state-highlight{
	background: white;
	border: 1px solid #ccc;
}

@media print
{    
    .noprint
    {
        display: none !important;
    }
    
  	a[href]:after {
    	content: none !important;
  	}
  	
  	div.timeline-navigation{
  		display: none !important;
  	}
  	
   	body {
   		-webkit-print-color-adjust: exact;
   		background-color: white !important;
   	}
   	
   	.timeline-event.ui-state-default{
		background: #f3f3f3 !important;
	}	
	
	.fc-personal .fc-title,
	.fc-public .fc-title{
		color: white !important;
	}
	
	.page-content{
	  	padding: 0;
	  	margin: 0;
	}
	
	.page-header-fixed .page-container{
		margin: 0;
	}
	   	  
}

textarea.fieldtype_mapbbcode{
	min-height: 82px;
}

.unread-item-row .item_heading_link{
	font-weight: bold;
}

.fc-icon-fa {
  font-family: FontAwesome;
}

.content.content-registration, .content.content-registration_success{
	width: 790px;	
}

@media (max-width: 800px){
  .content.content-registration, .content.content-registration_success{
	width: 100%;		
  }
}

.navbar-default .navbar-nav>li.selected>a{
	background: #e7e7e7;	
}

.navbar-items .navbar-brand.selected{
	background: #e7e7e7;
}

.navbar-default{
	border-color: #ddd;
}

.form-control.form-control-inline{
	display: inline;	
}

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url("../images/ui.totop.png") no-repeat left top;
  z-index: 1000;
}
#toTopHover {
	background:url("../images/ui.totop.png") no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;	
}

#toTop:active, #toTop:focus {
	outline:none;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
	white-space:nowrap;
	padding-right: 5px;
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

table.dataTable thead .sorting_desc:after {
    content: "";
}

table.dataTable thead .sorting:after {    
    content: "";
}

table.dataTable thead .sorting_asc{
	background: url(../images/listing_order.png) repeat-x;
}

table.dataTable thead .sorting_desc {
    background: url(../images/listing_order.png) repeat-x;
}

table.dataTable thead .sorting_asc div{
	background: url(../images/asc.gif) no-repeat right;
	padding-right: 10px;
}

table.dataTable thead .sorting_desc div{
    background: url(../images/desc.gif) no-repeat right;
    padding-right: 10px;
}

.pagination .fa{
	font-size: 13px;
}

pre{
  padding: 5px;
  overflow:auto;
  max-height: 250px;
  position: relative;
}

.hljs_code_tools{
	position: absolute;
    top: 0;
    right: 0;
    padding: 3px;	
}

.content.content-form, .content.content-form_inactive{
	width: 790px;	
}

@media (max-width: 800px){
  .content.content-form, .content.content-form_inactive{
	width: 100%;		
  }
}

.form-section-description{
	margin-top: -15px;	
}

.form-section{
	font-size: 17px;
	color:#09517d;
}

.form-section.form-section-desc{
	margin-bottom: 10px;
}	
 
.form-body .form-section.form-section-0{
	margin-top: 0px;
}

.form-body .tab-pane .form-section.form-section-0{
	margin-top: 20px;
}

.sortable li.fieldtype_section{
	background: #e6e6e6;
}

 
.form-horizontal .form-group-single-checkbox .control-label{
	text-align: left;
}

.form-horizontal .form-group-single-checkbox .control-label.error{
	padding-left: 15px;
}

.section-heading{
	padding-top: 10px !important;
	background: #f5f5f5;
}

.content.content-check, .content.content-check_result{
	width: 790px;	
}

@media (max-width: 800px){
  .content.content-check, .content.content-check_result{
	width: 100%;		
  }
}

.form-control[readonly] {
     cursor: text;
}

.stats-overview .icon{
	width: 32px;
    height: 30px;    
    padding-top: 4px;
}

.stats-overview .icon .fa{
	font-size: 25px;
	color: #37b7f3;
}

.stats-overview .icon .la{
	font-size: 30px;
	color: #37b7f3;
}

.stats-overview .totals{
	font-size: 11px;
    padding-left: 5px;
    line-height: 1;        
    color: #777;
}

.stats-overview .totals th{
	font-weight: normal
}

.stats-overview .totals td{
	font-weight: bold
}

.float-left{
	float: left;
}

.stats-overview .details .title{
	color: #000;
}

.stats-overview td{
	vertical-align: top;
}

.input-msmall {
    width: 80px !important;
}

.to-pay{
	font-size: 18px;
	padding: 20px 0;	
}

textarea.form-control.textarea-small{
	min-height: 60px;	
}

#export_templates_preview{
	max-height: 700px;
	overflow: auto;
	margin-bottom: 10px;
}

.table-item-details td{
	white-space: normal !important;
}

.table-item-details th{
	width: 40%;
}

.datepicker{
	padding: 0;
}

.flowchart{
	width: 95%;		
	background: url(../images/bg/10.png);
	border: 1px solid lightGray;		
}

#header_exchange_rates .table td{
	vertical-align: middle;
}

.width-auto{
	width: auto;
}

.dhtmlx-gantt-menu{
	background: #f5f5f5;
	border: 1px solid #cac8bd;
	border-bottom: 0px;	
}
.gantt-control{
	background: #f5f5f5;
	border:0;
	padding: 7px 10px;
	outline: none;
	border-right: 1px solid #cac8bd;
}

select.gantt-control {
	padding: 6px 10px;
}

.gantt-control:hover {
    background-color: #e2e2e2;
}

.gantt_cell .bg-color-value{
	line-height: 1;
	border-radius: 3px;
    margin-top: 4px;
    padding: 4px 4px;
}

.gantt_task_content a{
	color: #3f3f3f;
}

.gantt_task_content a.color-white{
	color: white;
}

.gantt_tree_icon.gantt_blank{
	/*width: 0px;*/
}

.gantt_grid_head_cell{
	text-align:left;
	padding-left: 5px;
}

.gantt_grid_head_start_date, .gantt_grid_head_end_date, .gantt_grid_head_duration {
	text-align:center;	
}  

.gantt_grid_head_text{
	padding-left:30px;
}

.funnelchart{
	max-width: 1000px;
}

.funnelchart-type-switch{
	width: 1000px;
	text-align:left;
	padding-bottom: 5px;
}

.funnel-table-bar{
	background: #7cb6ec;
	height: 28px;
	margin: auto;
	border: 1px solid white;
}

.kanban-div{
	width:100%;	
	min-height: 500px;
	overflow-x: auto;	
}

.kanban-heading {
	border-bottom: 5px solid #29B6F6;
	padding-bottom: 5px;
}

.kanban-heading .heading{
	font-weight: bold;
	font-size: 13px;		
}

.kanban-table{
	table-layout: fixed
}

.kanban-table-td{
	padding-right: 5px;	
	vertical-align: top;
}

.kanban-sortable{
	list-style:none;
	padding:0;
	margin:0;
	padding-bottom: 35px;
}

.kanban-item{
	padding: 5px;
	margin-top: 4px;
	background: white;
	border: 1px solid #ddd;	
	border-radius: 3px;
	cursor: pointer;
}

.kanban-item.ui-sortable-placeholder{
	padding: 10px;	
	border-color: #b1b1b1;
}

.kanban-item:hover{
	border-color: #b1b1b1;
}

.kanban-item-title{
	font-size: 13px;
}

.kanban-item-title small{
    color: gray;
}

.kanban-fields-in-listing{
	font-size: 11px;
	line-height: 1.3;	
}

.kanban-fields-in-listing .btn-sm{
        padding: 1px 4px;
}

.kanban-heading-sum{
	font-size: 12px;	
}

.todo-list .checked{
	text-decoration: line-through;
}

.todo-list td {
	vertical-align: top;
}

.search-choice.ui-sortable-helper{
	white-space: nowrap;
}

.sortable-simple{
	padding:0;
	maring:0;
}

.sortable-simple li{
	list-style: none;    
    cursor: move;
}

.content.content-success {
    width: 790px;
}

.smarty-ui{
	z-index: 10100
}

.kanban-add-button{
	float: right;
	line-height: 1.3	
}

.kanban-actions-buttons{
	float: right;
	padding-left: 5px;	
}

.kanban-actions-buttons a{
	color: #b1b1b1;
}

.kanban-actions-buttons a:hover{	
	color: black;
}

.fieldtype_action-th{
	width: 85px;
}

.multiple-select-action-th{
	width: 35px;
}

.image-map-iframe-box{
	border: 1px solid #acacac;	
	line-height: 0;
}

.image-map-iframe{
	width: 100%;
	height: 450px;	
}

.image-map-fullscreen-action, .image-map-nested-fullscreen-action{
	width: 15px;
	height: 15px;
	position: absolute;
	margin: 5px 0 0 8px;
	cursor: pointer;
}

.mind-map-iframe-box{
	border: 1px solid #acacac;	
	line-height: 0;
}

.mind-map-iframe{
	width: 100%;
	height: 450px;	
}

.mind-map-fullscreen-action{
	
	position: absolute;	
	cursor: pointer;	
	padding: 6px 7px;    
    background-color: #FFF;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 0 5px #666;
    -moz-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

.div-fullscreen{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 80000;		
}

.custom-map-marker-icon i{
	font-size: 40px;
	margin-top: -8px;
	color: #50afff;	
	text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;	
}

.custom-map-marker-icon .marker-bg{
	background: white;
	width: 10px;
	height: 10px;
	margin-left: 6px;
	margin-top: -10px;
	position: absolute;
    z-index: -1;
}

.leaflet-popup-content table{
	width: 100%;
}

.leaflet-popup-content table th{	
	font-weight: normal;
	white-space:nowrap;
	border-top: 1px solid #ddd;
	padding: 3px 0;	
}

.leaflet-popup-content table td{
	border-top: 1px solid #ddd;
	padding: 3px 0;
}

.leaflet-popup-content .heading{
	font-weight: bold;
	padding-bottom: 5px;
}

.leaflet-popup{
	padding-bottom: 25px;
}

.listing-section-table th{
	padding-right: 5px;
}

.listing-section-table th,.listing-section-table td{
	vertical-align: top;
}

.listing-section-table .bg-color-value{
	display: inline-block;
    margin-right: 4px;
}

.listing-section-align-right{
	text-align: right;
}

.listing-section-align-right .listing-section-table th{
	text-align: right;
}

.listing-section-align-center{
	text-align: center;
}

.listing-section-align-center .listing-section-table th{
	text-align: right;
}

.listing-section-align-center .listing-section-table td.with_th{
	text-align: left;
}

.listing-section-align-left .listing-section-checkbox{
	float: right;
}

.listing-section-align-right .listing-section-checkbox{
	float: left;
}

.listing-section-align-center .listing-section-checkbox{
	display: inline;
}

.listing-section-heading{
	font-size: 14px;
	font-weight: bold;
}

ul.listing-grid {
 display: grid;
  /* Display as a Grid */
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 10px;
  list-style:none;
  padding:0;
  maring: 0;
}

ul.listing-grid>li{
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	overflow:hidden;
}

ul.listing-grid>li:hover{
	background-color: #f5f5f5;
}

ul.listing-mobile{
	list-style:none;
  	padding:0;
  	maring: 0;
}

ul.listing-mobile>li{
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
}

ul.listing-mobile .item_heading_link{
	font-size: 16px;
}

.listing-types-switches .btn-xs
{
	padding-top: 3px;
}

.listing-types-switches li{
	padding-right:0;
}

.listing-search-form{
	float: right;
}

@media (max-width: 800px){
  .listing-search-form{
	float: none;
	padding-bottom: 5px;
  }
  
  .listing-search-form .input-medium{
  	width: 100% !important;
  }
  
  .listing-types-switches{
  	display:none;
  }
}

.holiday .fc-day-number, .holiday span{
	color: red;
	cursor: pointer;
}

.related-items-list{
	padding:0;
	margin:0;
	list-style:none;
}

.related-items-list li{
  white-space: normal !important;
  min-width: 280px;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 30px;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 43px;
}

.page-sidebar-menu > li.active > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
   display:none;  
}

.resizer {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  width: 16px;    
  cursor: col-resize;       
}

.table th:last-child .resizer{
	right: 0;	
}

.table-scrollable > .table.table-resizable > tbody > tr > td:not(.fieldtype_action),
.table-scrollable > .table.table-resizable > thead > tr > th:not(.fieldtype_action-th){
	white-space:normal;
	word-break: break-all;
	word-break: break-word;
}

.table.table-resizable{
	max-width:none;
}

th .tooltip{
	font-weight: normal;
}

.tableScrollRailX{
	background: rgb(51, 51, 51);
    height: 14px;
    position: absolute;
    left: 0;    
    opacity: 0.2;
    display: block;
    border-radius: 3px;
    z-index: 90;
    margin-left: 15px;
}

.tableScrollBarX{
	cursor: pointer;
	background: #000;
    height: 14px;
    position: absolute;
    left: 0;    
    opacity: 0.4;
    display: block;
    border-radius: 3px;
    z-index: 99;
    margin-left: 15px;
}

.users-info-blocks .panel-heading{
	padding: 10px;
}

.users-info-blocks .panel-body{
	padding: 10px;
}

.users-info-blocks .table{
	margin-bottom: 0;
}

.users-info-blocks .table tr:first-child th,
.users-info-blocks .table tr:first-child td{
	border-top: 0;
}

.users-info-blocks table td,
.users-info-blocks table th{
	white-space:normal;
	word-break: break-word;
}

.users-info-blocks .stats-overview{
	margin-bottom: 5px;
}

.users-info-blocks-content{
	margin-bottom: 10px;
}

[class^="la-"],
[class*=" la-"] {
  display: inline-block;
  margin-top: 1px;
  font-size: 17px;
  *margin-right: .3em;
  line-height: 12px;
  
}

.page-sidebar-menu > li > a i.la{
	font-size: 18px;
	margin-left: 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle > i.la{
	font-size: 20px;
}

.page-title .fa{
	font-size: 22px;
}

.page-title .la{
	font-size: 26px;
}

.alert {
	padding: 10px;
}

.alert .page-title{
	margin-bottom: 5px;
}


.stats-warning{
	border-color: #fcb322;
	background-color: white;
}

.stats-overview.stats-warning .icon .fa,
.stats-warning .stat.ok .percent
{
	color: #fcb322;
}

.stats-success{
	border-color: #3cc051;
	background-color: white;
}

.stats-overview.stats-success .icon .fa,
.stats-success .stat.ok .percent
{
	color: #3cc051;
}

.stats-danger{
	border-color: #ed4e2a;
	background-color: white;
}

.stats-overview.stats-danger .icon .fa,
.stats-danger .stat.ok .percent
{
	color: #ed4e2a;
}

.stats-default{
	border-color: #999;
	background-color: white;
}

.stats-overview.stats-default .icon .fa,
.stats-default .stat.ok .percent
{
	color: #999;
}

.help-pages-announcement div:first-child{
	margin-top: -5px;
}

.btn-group-help-icon{
	margin-top: -6px;
}

.help-icon .fa{
	font-size: 20px;
}

.uploadifive-button .error{
	position: absolute;
}

.grouped_users_list{
	font-size: 12px;
	padding-top: 3px;
}

.btn .la{
	font-size: 20px;
	margin-bottom: -2px;
    display: -webkit-inline-box;
}

.horizontal-filters-panels li{
	vertical-align: top;
	padding-bottom: 2px;
	padding-left: 0;
    padding-right: 10px;
}

@media (min-width: 768px){
	.vertical-filters-panels{
		padding-left: 0px;
	}
}

.vertical-filters-panels .fields-container{
	padding-bottom: 5px;	
}

.vertical-filters-panels .heading,
.horizontal-filters-panels .heading{
	font-weight: bold;
}

.datepicker .clear, .datetimepicker .clear{
	font-size:12px;
}

.filters-panels .input-small{
	width: 140px !important;
}

.filters-panels .buttons a{
	margin-bottom: 5px;
}

.select2-results img{
	max-width: 50px;
	max-height: 50px;
}

.select2-container .select2-selection--single {
	height: 34px;
	border: 1px solid #e5e5e5;
}

.select2-container--default.select2-container--open  .select2-selection--single{
	border-color: #999999;
}

.select2-container--default .select2-selection--multiple{
	border: 1px solid #e5e5e5;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
	border-color: #999999;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__clear{
	height: 33px;
}

.select2-dropdown{
	border: 1px solid #999999;
}

.table.user-roles-table>tbody>tr>th{
	border: 0px;
}

.slect2_tag .error{
	display: block !important;
}


.stats-default.selected{
	background: #f1f1f1;
}

.fa-success{
	color: #5cb85c;
}

.pointer{
	cursor: pointer;
}

.mail-list-box{
	overflow:hidden;
	overflow-y: auto;
	max-height: 50px;	
}

@media (max-width: 991px){
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.73);
		-webkit-transform:scale(0.73);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	
	.form-group-fieldtype_boolean_checkbox .col-md-9{
	 	width: 11%;
	 	float: left;
	}
	
	.form-group-fieldtype_boolean_checkbox .col-md-3{
	 	width: 89%;
	 	display:inline-block;
	 	text-align: left;
	}
			
}

.pvtRowLabel{
	font-weight: normal;
}

.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}

.fc-time-grid .fc-slats td {
    height: 2em;
}    

.table-scrollable.item-pivot-tables > .table > thead > tr > th,
.table-scrollable.item-pivot-tables > .table > tbody > tr > th,
.table-scrollable.item-pivot-tables > .table > tfoot > tr > th,
.table-scrollable.item-pivot-tables > .table > thead > tr > td,
.table-scrollable.item-pivot-tables > .table > tbody > tr > td,
.table-scrollable.item-pivot-tables > .table > tfoot > tr > td {
  white-space: normal;
}

.content.content-signature_login {
    width: 790px;
}

@media (max-width: 800px){
  .content.content-signature_login{
	width: 100%;		
  }
}

.progress{
	margin-bottom: 0px;
	background-color: #d4d4d4;
}

.table .radio{
	padding-top: 0px;
}

.table label{
	margin-bottom: 0px;
}

.white-space-nomral{
	white-space: normal !important;
}

ul.list{
  list-style:none;
  padding:0;
  margin: 0;    
}

ul.list li{
	border-top: 1px solid #ddd;
	padding: 4px 0;
}

ul.list li:first-child{
	border-top: 0;
}

textarea.code, input.code{
	font-family:monospace;
	font-size:13px;
	font-variant-ligatures:contextual;
	/*background: #f9f9f9;*/	
}

.user-profile-photo{
	max-width: 50px;
	max-height: 50px;
}

.color-danger{
	color: #d9534f;
}

.sortable_rows ul.sortable{
	background:  #ececec;
	padding: 10px;
}

.sortable_rows ul.sortable li{
	margin: 5px 10px;
}

.forms-rows .control-label{
	text-align: left;
}

.accordion-toggle{
	cursor: pointer;
}

.item-page-accordion .panel-title{
	font-size: 14px;
}

.item-page-accordion .panel-body{
	padding:0;		
}

.item-page-accordion .table-scrollable{
	margin: 0 !important;
	border: 0;
} 

.item-page-accordion .table-scrollable > .table-bordered {
	margin-top: -1px !important;
}

.audio-controls{
	height: 22px;
	width: 250px;
}

#wdr-toolbar-wrapper #wdr-toolbar li{
	width: 65px;
}

#wdr-toolbar-wrapper #wdr-toolbar #wdr-tab-format .wdr-dropdown-content li {
    width: 265px;
}

#wdr-toolbar-wrapper #wdr-popup-conditional{
	width: 900px;
}

#wdr-toolbar-wrapper .wdr-toolbar-ui .wdr-cr-lbl.wdr-width50.wdr-width50 {
    width: 110px;
}

#wdr-toolbar-wrapper #wdr-popup-conditional .wdr-popup-content{
	clear: both;
}

#wdr-toolbar-wrapper #wdr-popup-conditional .wdr-condition-row #wdr-conditions {
    width: 175px;
}

#wdr-toolbar-wrapper #wdr-popup-conditional .wdr-condition-row #wdr-values {
    width: 255px;
}

#wdr-toolbar-wrapper #wdr-popup-conditional .wdr-condition-row{
	padding: 10px 30px;
	margin-top: 10px;	
	margin-bottom: 10px;
}

#wdr-pivot-view #wdr-calculated-view{
	width: 625px;	
}

#wdr-pivot-view #wdr-fields-view .wdr-popup-header #wdr-btn-add-measure{
	max-width: 310px;
}

#wdr-pivot-view #wdr-fields-view.wdr-pivot-fields{
	width: 930px;
}

#wdr-toolbar-wrapper #wdr-popup-format-cells {
	width: 580px;
}

#wdr-toolbar-wrapper #wdr-toolbar li#wdr-tab-connect, 
#wdr-toolbar-wrapper #wdr-toolbar li#wdr-tab-open, 
#wdr-toolbar-wrapper #wdr-toolbar li#wdr-tab-save, 
#wdr-pivot-view .wdr-fields-view-wrap #wdr-btn-open-fields,
#wdr-toolbar-wrapper #wdr-toolbar .wdr-dropdown-content li#wdr-tab-export-pdf,
#wdr-toolbar-wrapper.wdr-mobile {
	display: none;
}

.pivot_table_chart_side{
    padding-top: 10px;
    background: white;
    height: 600px;
}

#wdr-toolbar-wrapper.wdr-layout-500 #wdr-toolbar #wdr-tab-fields, #wdr-toolbar-wrapper.wdr-layout-500 #wdr-toolbar #wdr-tab-fullscreen {
    display: inline-block;
}


.subentity_form .form-section{
    margin: 15px 0 25px 0;
}

.form-section.subentity-form-row-section{
    margin: 15px 0 0px 0;
}


.btn-subentity-form-remove{
    float: right;
    margin-top: -38px;
    padding: 3px 3px 0px 3px;
}

.subentity_form_btn{
    margin-top: 10px;
}

.btn-subentity-form-row-remove{
    padding: 8px 7px 4px 7px;
    margin-top: 21px;
}

.suentity_form_row_table{
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.suentity_form_row_table td{
    vertical-align: top;
    padding-bottom: 20px;
}

.subentity-form-table{
    margin-top: -1px;
    margin-bottom: 0;
}

.subentity-form-table td{
    word-break: break-word;
}

.item-panel{    
    border-top: 1px solid #eee;
    margin-top:-1px;
    padding: 7px 0 13px 0;
}

.item-panel .item-panel-heading{
    font-weight: bold;
}

.item-panel-action-btn{
    float: right;
    margin-top: -15px;
}

.img-preview-menu{
    position: absolute;
    z-index: 8070;
    margin-top: -23px;    
}

.img-preview-menu .btn{
    padding: 5px 8px 4px 8px;
}

.input-ip{
    width: 180px;
}

.forms-rows .input-small,
.forms-rows .input-medium,
.forms-rows .input-large,
.forms-rows .input-xlarge,
.forms-rows .dropdown-with-plus-btn.input-small,
.forms-rows .dropdown-with-plus-btn.input-medium,
.forms-rows .dropdown-with-plus-btn.input-large,
.forms-rows .dropdown-with-plus-btn.input-xlarge{
    width: 100% !important;
}

.dropdown-with-plus-btn.input-small{
   width: 157px !important;
}

.dropdown-with-plus-btn.input-medium{
   width: 277px !important;
}

.dropdown-with-plus-btn.input-large{
   width: 357px !important;
}

.dropdown-with-plus-btn.input-xlarge{
   width: 517px !important;
}

@media (max-width: 768px){
    .dropdown-with-plus-btn.input-small,
    .dropdown-with-plus-btn.input-medium,
    .dropdown-with-plus-btn.input-large,    
    .dropdown-with-plus-btn.input-xlarge
    {
        width: 100% !important;
    }
    
    .filters-panels .list-inline>li {
        display: block;
        margin-bottom: 10px;
    }
    .filters-panels .list-inline {
        margin-left: 0px;
    }
    
    .filters-panels .btn-reset-filters{
        width: 100%;
    }
    
    .hidden-in-mobile{
        display: none !important;
    }
}

@media (min-width: 768px){
    .display-in-mobile{
        display: none !important;
    }
}

.dropdown-with-plus-btn .left{
    float: left;
    width: -webkit-calc(100% - 37px);
    width:    -moz-calc(100% - 37px);
    width:         calc(100% - 37px);
}

.dropdown-with-plus-btn .right{
    float: left;
}

.navbar-brand{
    height: auto;
}

.color-picker-box{
    width: 34px;
    height: 34px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.google-map-distance{
    padding: 4px;
    border: 1px solid #dddddd;
    border-top: 0;
    background: #fafafa;
}

.popover-table{
    font-size: 12px;
}

.popover-table th{
    padding-right: 10px;
    vertical-align: top;
}
.popover-table td{
    vertical-align: top;
}

.btn-social{
    width: 100%;
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.btn-social span{    
    text-align: center;
    width: 30px;
    display: inline-block;    
    margin-right: 5px;
}

.btn-social:active, .btn-social:hover, .btn-social:focus{
    color: white;
}

.btn-vk{
    background: #5181b8;
}

.btn-google{
    background: #d74a40;
}

.btn-facebook{
    background: #1877f2;
}

.btn-linkedin{
    background: #0a66c2;
}

.btn-twitter{
    background: #1da1f2;
}

.btn-registration{
    margin-top: -13px;
}

.btn-guest-login{
    background: #337ab7;
}

.gantt_tree_content .btn-group-sm>.btn, .gantt_tree_content .btn-sm{
    padding: 0px 6px;
    font-size: 11px;
} 

.datetimepicker-field div{
    display:none;
}

.editable-cell{
    cursor: pointer;
}

.editable-cell:hover{
    background-color: #fcf8e3;
}

.input-group-attachments{
    margin-bottom: 5px;
}

.editable-cell-row-selected, .row-selected.editable-cell-row-selected{
    background: #fcf8e3 !important;
}

.row-selected{
   background: #dff0d8 !important; 
}


.highcharts-contextmenu hr{
    margin: 7px 0;
}

tr.form-group{
    margin:0;
}

.list-radioboxes .radio{
    padding-top: 2px;
}

.list-radioboxes label{
    cursor: pointer;
    margin:0;
}

.list-column-2{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.list-column-3{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.list-column-4{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.checkbox-list ul, .radio-list ul{
    margin-bottom: 0;
}

.checkbox-list.form-control-static{
    padding-bottom: 0;
}

.filters-preview-toggle{
    cursor: pointer;
}

.uploadifive-user-photo{
    padding: 55px 0;
}

.user-photo-in-form{
    margin-bottom: 5px;
    width: 150px;
}

.cropper-buttons{
    z-index: 1;
    right: 0;
    margin-top: -10px;
    margin-right: 5px;
    position: absolute;
}


.chosen-results .choices-color{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
}

.chosen-container-single .chosen-single span.choices-color{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
}

.chosen-choices .choices-color{
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
    margin-top: -4px;
    margin-left: -5px;
}


.btn-select-all{
    padding:0 3px;
    margin: -2px 0 0 0 !important;    
    line-height: 0
}

.favorite-icon .fa{
    font-size: 20px;
    color: #adadad;
}

.favorite-icon.active .fa{
    color: #FFB74D;
}

.listing-mobile .listing-section-table th{
    width: 30%;
}

.nav-reports-groups{
    margin-bottom: 20px;
}

.btn-wizard-previous.disabled{
    display:none;
}

.col-wizard-progress{
    padding-bottom: 10px;
}

.fc-body .fc-resource-area .fc-cell-content {
   padding-top: 6px; 
   padding-bottom: 0;
}





































 


 


